.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

Canvas{
  background-color:black;
  height:100vh;
  width:100vw;
  
}

div#left{
  position: absolute;
  z-index: 1;
  top: 10vh;
  right: 8vw;
  color:white;
  font-size: 20pt;
  height:5vh;
  width: 1.8%;

}
div#left-top{
  position: absolute;
  z-index: 1;
  top: 5vh;
  right: 7.5vw;
  color:white;
  font-size: 20pt;
  height:5vh;
  width: 1.8%;

}

div#right{
  position: absolute;
  z-index: 1;
  top: 10vh;
  right: 2vw;
  color:white;
  font-size: 20pt;
  height:5vh;
  width: 1.8%;

}
div#right-top{
  position: absolute;
  z-index: 1;
  top: 5vh;
  right: 2.5vw;
  color:white;
  font-size: 20pt;
  height:5vh;
  width: 1.8%;

}

div#top{
  position: absolute;
  z-index: 1;
  top: 4vh;
  right: 5vw;
  color:white;
  font-size: 20pt;
  height:5vh;
  width: 1.8%;
}
div#left-back{
  position: absolute;
  z-index: 1;
  top: 15vh;
  right: 7.5vw;
  color:white;
  font-size: 10pt;
  height:5vh;
  width: 1.8%;

}
div#right-back{
  position: absolute;
  z-index: 1;
  top: 15vh;
  right: 2.5vw;
  color:white;
  font-size: 20pt;
  height:5vh;
  width: 1.8%;


}

div#back{
  position: absolute;
  z-index: 1;
  top: 16vh;
  right: 5vw;
  color:white;
  font-size: 20pt;
  height:5vh;
  width: 1.8%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
